/** Font */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fira+Code:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /** Background color */
  --primary-color: #854fee;
  --secondary-color: #fff;
  --bg-primary: #130a25;
  --bg-white: #fff;
  --bg-light: #faf8ff;
  --bg-black: #000;
  --bg-gray: #eee;

  /** Text color */
  --text-white: #fff;
  --text-light: #faf8ff;
  --text-black: #000;
  --text-gray: #777;
  --text-custome: #acacac;

  /** Font family*/
  --primary-font: "Fira Code", monospace;
  --secondary-font: "Dancing Script", cursive;
}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-primary);
  color: var(--text-white);
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

/** Button */
.main-btn {
  display: inline-block;
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 600;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0 1.75rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 2rem rgba(118, 85, 225, 0.3);
  border: double 0.15rem transparent;
  transition: all 0.3s ease-in-out;
  --webkit-transition: all 0.3s ease-in-out;
}

.primary-btn {
  background: var(--primary-color);
  color: var(--text-white);
}

.primary-btn:hover {
  border-color: var(--primary-color);
  background: var(--bg-white);
  color: var(--primary-color);
  box-shadow: none;
}

.secondary-btn {
  background-image: var(--bg-white);
  color: var(--text-white);
  border-color: var(--secondary-color);
}

.secondary-btn:hover {
  background: var(--bg-white);
  border-color: var(--primary-color);
  color: var(--primary-color);
  box-shadow: none;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-white);
  font-family: var(--primary-font);
  text-transform: uppercase;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-white);
  font-family: var(--primary-font);
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-white);
  font-family: var(--primary-font);
  text-transform: uppercase;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-white);
  font-family: var(--primary-font);
  text-transform: uppercase;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-white);
  font-family: var(--primary-font);
  text-transform: uppercase;
}

p {
  font-size: 0.75;
  color: var(--text-gray);
  transition: color 0.5s;
}

p:hover {
  color: var(--text-light);
}

a {
  text-decoration: none;
  color: var(--text-white);
}

.title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-white);
  font-family: var(--primary-font);
  text-transform: uppercase;
  transition: letter-spacing 1s;
}

.title:hover {
  letter-spacing: 0.25rem;
}

/** Navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  place-items: center;
  position: fixed;
  padding: 1.5rem;
}

.navbar .navbar-brand {
  font-family: var(--secondary-font);
  letter-spacing: 0.25rem;
  font-size: 2rem;
  /* font-family: var(--primary-font); */
}

.navbar .navbar-brand.slide {
  display: flex;
  transform: scale(75%);
  transition: 0.5s;
}

.navbar .navbar-toggle {
  cursor: pointer;
  box-shadow: none;
  z-index: 2;
  font-size: 1.25rem;
  position: fixed;
  right: 5%;
  transition: 0.5s;
}

.navbar .navbar-toggle.slide {
  right: 32%;
}

.navbar .bg-sidebar {
  background: rgba(19, 10, 37, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  right: -100%;
  transition: 0.5s;
}

.navbar .bg-sidebar.slide {
  right: 0;
  visibility: visible;
  display: block;
}

.navbar .navbar-menu {
  display: flex;
  top: 0;
  bottom: 0;
  width: 40%;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  font-size: 1rem;
  right: -400px;
  transition: 0.5s;
  background-color: var(--primary-color);
  border-right: 1rem solid var(--bg-primary);
  padding-top: 1rem;
}

.navbar .navbar-menu li {
  list-style: none;
  padding: 1rem 0;
  right: 0;
}

.navbar .navbar-menu li a {
  padding: 0.8rem 1rem;
}

nav ul li a.active,
nav ul li a:hover {
  background: var(--bg-primary);
  padding: 0.35rem 1rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transition: 0.1s;
}

.navbar .navbar-menu.slide {
  right: 0rem;
}

.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-primary);
  -webkit-box-shadow: 0 0.25rem 0.25rem rgb(118 85 225/30%);
  box-shadow: 0 0.25rem 0.25rem rgb(118 85 225/30%);
}

/** Banner */
.banner {
  padding: 4rem 2rem 0;
  cursor: default;
}

.banner .banner-text {
  margin: 1rem 0;
  transition: letter-spacing 1s;
}

.banner .banner-text:hover {
  letter-spacing: 0.065rem;
}

.banner .banner-image {
  grid-area: img;
  display: flex;
  justify-content: center;
}

.banner .banner-image img {
  width: 100%;
  max-width: 17.5rem;
  max-height: 29rem;
  margin-top: 2rem;
  border-bottom: 0.1rem solid var(--bg-white);
}

/** Main */
main {
  display: grid;
}

/** About */
.about {
  padding: 7rem 2rem 0;
  cursor: default;
}

.about .col-left {
  /* text-align: center; */
  /* display: flex;
  flex-direction: row; */
  /* border: 1px solid orangered; */
}

/** .desc for left & right */

.about .desc {
  text-align: center;
  margin: 1.5rem 0;
  /* border: 1px solid orangered; */
}

.about .col-left .desc h4 {
  margin-bottom: 0.5rem;
  transition: letter-spacing 1s;
}

.about .col-left .desc h4:hover {
  letter-spacing: 0.25rem;
}

.about .col-left .skill {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1.5rem 0 1rem;
  padding: 0.75rem;
  /* border: 1px solid orangered; */
}
.about .col-left .skill .ui-ux {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid var(--bg-white);
  margin-bottom: 1.5rem;
}
.about .col-left .skill .fe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid var(--bg-white);
  margin-bottom: 1.5rem;
}

.about .col-left .skill .be {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid var(--bg-white);
}

.about .col-left .skill .container {
  width: 6rem;
  height: 6rem;
  margin: 0 0.1rem 0.75rem;
  /* border: 1px solid orangered; */
}

.about .col-left .skill .container .icon {
  font-size: 2.75rem;
  color: var(--text-black);
  background-color: var(--bg-white);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0.5rem auto;
  left: 1rem;
  z-index: -1;
}

.about .col-left .skill .container .icon i:hover {
  transform: rotate(15deg);
}

.about .col-left .skill .container .text {
  font-size: 1rem;
  font-weight: 600;
  z-index: -1;
}

/** Other skills */
.about .col-left .other-desc h5 {
  text-align: left;
  font-size: 0.75rem;
  transition: letter-spacing 1s;
}

.about .col-left .other-desc h5:hover {
  letter-spacing: 0.25rem;
}

.about .col-left .other-skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid var(--bg-white);
  text-align: center;
  padding: 0.75rem;
}

.about .col-left .other-skill .container {
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 0.1rem 0.75rem;
}

.about .col-left .other-skill .container .icon {
  font-size: 1.5rem;
  color: var(--text-black);
  background-color: var(--bg-white);
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: 1.05rem;
  z-index: -1;
  margin: 0.5rem auto;
}

.about .col-left .other-skill .container .icon i:hover {
  transform: rotate(15deg);
}

.about .col-left .other-skill .container .text {
  font-size: 0.6rem;
  font-weight: 600;
  z-index: -1;
}

/** Experience*/
.about .col-right .desc h4 {
  margin-bottom: 0.5rem;
  transition: letter-spacing 1s;
}

.about .col-right .desc h4:hover {
  letter-spacing: 0.25rem;
}

.about .col-right .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1rem 0;
  padding: 0.75rem;
  border-bottom: 0.1rem solid var(--bg-white);
}

.about .col-right .experience .time {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-black);
  background-color: var(--bg-white);
  padding: 0.75rem 1rem;
  width: fit-content;
  border-radius: 2rem;
  margin-bottom: 0.75rem;
}

.about .col-right .experience .position {
  font-size: 1.25rem;
  font-weight: 400;
}

.about .col-right .experience .company a {
  font-size: 1rem;
  color: var(--text-gray);
  transition: 0.5s;
}

.about .col-right .experience .company a:hover {
  color: var(--text-light);
}

/** Service */
.service {
  padding: 7rem 2rem 0;
}

.service .col-left {
  text-align: center;
  margin: 1.5rem 0 3rem;
}

.service .col-right {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.service .col-right .box {
  display: flex;
  margin: 0 auto 2.5rem;
  padding-bottom: 1rem;
  align-items: center;
  border-bottom: 0.1rem solid var(--bg-white);
}

.service .col-right .box .logo {
  margin: 0 0.5rem;
}

.service .col-right .box .logo img {
  max-width: 8rem;
  max-height: 8rem;
  padding: 1rem;
  background-color: var(--bg-white);
  border-radius: 0.75rem;
}

/** Footer */
.contact {
  display: flex;
  flex-direction: column;
  padding: 7rem 2rem 0;
  cursor: default;
}

.contact .title {
  margin-bottom: 1.5rem;
}

.contact .col-left .box {
  display: flex;
  place-items: center;
  margin-bottom: 1rem;
}

.contact .col-left .box .icon {
  font-size: 1.75rem;
  background-color: var(--bg-white);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 1rem;
}

.contact .col-left .box .icon a {
  color: var(--text-black);
}

.contact .col-left .box .icon a:hover {
  transform: rotate(15deg);
}

.contact .col-left .box .text {
  font-size: 1rem;
}

.contact .col-left .box .text a {
  color: var(--text-gray);
  transition: 0.5s;
}

.contact .col-left .box .text a:hover {
  color: var(--text-light);
}

.contact .col-right {
  padding: 2rem;
  border-radius: 0.5rem;
  background: var(--bg-white);
}

.contact .col-right h4 {
  margin-bottom: 1rem;
  color: var(--text-black);
}

.contact .col-right .input-box input,
.contact .col-right .input-box textarea {
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1rem;
  margin: 0.95rem 0;
  border: none;
  border-bottom: 0.1rem solid var(--bg-black);
  outline: none;
  resize: none;
  font-family: var(--primary-font);
}

.contact .col-right .input-box textarea {
  height: 8rem;
}

.contact .col-right .input-box span {
  position: absolute;
  left: 4rem;
  font-size: 1rem;
  margin: 1.75rem 0;
  pointer-events: none;
  transition: 0.5s;
  color: var(--text-black);
}

.contact .col-right .input-box:nth-child(4) span {
  margin: 7.35rem 0;
}

.contact .col-right .input-box input:focus ~ span,
.contact .col-right .input-box input:valid ~ span,
.contact .col-right .input-box textarea:focus ~ span,
.contact .col-right .input-box textarea:valid ~ span {
  color: var(--text-gray);
  font-size: 0.75rem;
  transform: translateY(-1.75rem);
}

.contact .col-right .input-box:nth-child(4) textarea:focus ~ span,
.contact .col-right .input-box:nth-child(4) textarea:valid ~ span {
  transform: translateY(-7.3rem);
}

.copyright {
  background: var(--bg-primary);
  font-size: 0.75rem;
  text-align: center;
  padding: 0.5rem;
}
